/* You can add global styles to this file, and also import other style files */
html body {
  font-family: 'Noto Sans Mono', monospace;
  background-color: var(--background-color);
}

:root {
  --primary-color: #505050ff;
  --background-color: #e6e6e6ff;
}
